<!-- <div class="back"> -->
    <div class="book-card">
        <img src="assets/Img/a.png" [alt]="book.title" class="book-cover">
        <div class="book-details">
            <h2 class="book-title">{{ book.title }}</h2>
            <p class="book-author">by {{ book.author }}</p>
            <div class="rating">
                <span class="rating-value">{{ book.rating }}  <span class="material-symbols-outlined">
                    star
                    </span></span>
                <span class="rating-count">({{ book.ratingCount }})</span>
            </div>
            <p class="book-price">Rs. {{ book.price }}</p>
            <!-- <button (click)="addToCart(book)">Add to Cart</button> -->
        </div>
    </div>
<!-- </div> -->