<div class="box1">

    <div class="book-logo">
      <div class="image">
        <!-- <img src="assets\Image\education.png"> -->
        <span class="material-symbols-outlined">
            menu_book
            </span>
      </div>
      <div class="Bookstore">
        Bookstore
      </div>
    </div>
  
    <div class="topmid">
      <div class="buttons">
        <button>
          <span class="material-symbols-outlined">
            search
          </span>
        </button>
      </div>
      <input type="search" class="searchbar" placeholder="Search">
    </div>
  
    <div class="topright">
      <div class="profile">
        <button>
          <span class="material-symbols-outlined">
            person
          </span>
          <p>Profile</p>
        </button>
      </div>
  
      <div class="cart">
        <button>
          <span class="material-symbols-outlined">
            shopping_cart
          </span>
          <p>Cart</p>
        </button>
      </div>
    </div>
  </div>

  <app-sort></app-sort>