<div class="box1">
    <div class="top">
      <div class="book-logo">
        <div class="image">
          <!-- <img src="assets\Image\education.png"> -->
          <span class="material-symbols-outlined">
            menu_book
            </span>
        </div>
        <div class="Bookstore">
          Bookstore
        </div>
      </div>
    </div>
  
    <div class="center">
      <h2 style="font-weight: 600;">Forgot Your Password?</h2>
  
      <div class="center-box">
        <div class="center-box2">
          <div class="center-text">
            Enter your email address and we'll send you <br> a link to reset your password.
          </div>
          <div class="center-credentials">
  
            <mat-form-field appearance="outline">
              <mat-label>Email Id</mat-label>
              <input matInput>
            </mat-form-field>
  
            <button mat-raised-button style="background-color: #A03037; color: #FFFFFF;">Reset Password</button>
          </div>
        </div>
        <div class="create-account">
          <button mat-raised-button>CREATE ACCOUNT</button>
        </div>
      </div>
    </div>
  </div>