<!-- <app-dashboard></app-dashboard> -->
<div class="box">
    <div class="box1">
      <div class="main">
        <label style="color: #9d9d9d">Home /</label>
        <label>Profile</label>
      </div>
      <div class="per">
        <div class="title">Personal Details</div>
        <!-- <div class="edit">Edit</div> -->
        <button class="edit">Edit</button>
      </div>
    </div>
    <div class="all">
      Full Name
      <div class="textt">
        <input type="text" id="textbox" name="textbox" />
      </div>
      Email Id
      <div class="textt">
        <input type="text" id="textbox" name="textbox" />
      </div>
      Password
      <div class="textt">
        <input type="text" id="textbox" name="textbox" />
      </div>
      Mobile Number
      <div class="textt">
        <input type="text" id="textbox" name="textbox" />
      </div>
    </div>
    <div class="address">
      <div class="details">Address Details</div>
      <button class="new">Add New Address</button>
    </div>
    <div class="work">
      <div class="work1">1.WORK</div>
      <button class="edit">Edit</button>
    </div>
    <div class="aaa">Address</div>
    <div class="texttt">
      <input type="text" id="textboxx" name="textboxx" />
      <div class="both">
        <div class="city">
          city/town
          <div class="cityt">
            <input type="text" id="textboxx" name="textboxx" />
          </div>
        </div>
        <div class="state">
          State
          <div class="statet">
            <input type="text" id="textboxx" name="textboxx" />
          </div>
        </div>
      </div>
    </div>
    <div class="type">
      Type
      <div class="options">
        <div class="options1">
          <input type="radio" id="option1" name="options" class="custom-radio" />
          <label for="option1">Home</label>
        </div>
        <div class="options2">
          <input type="radio" id="option2" name="options" class="custom-radio" />
          <label for="option2">Work</label>
        </div>
        <div class="options3">
          <input type="radio" id="option3" name="options" class="custom-radio" />
          <label for="option3">Other</label>
        </div>
      </div>
    </div>
  </div>
  
  <footer>
    Copyright <mat-icon>copyright</mat-icon> 2020, BookStore Private Limited. All Rights Reserved
  </footer>